.ctnr{
    border: 2px solid grey;
}

.box {
   
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0 14px 26px -12px gray, 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(233,30,99,.2);
    padding: 50px;
}


.rectangle {
    height: 50px;
    width: 100px;
    background-color: #555;
  }
.text-value {
    font-size: 1.3125rem;
    font-weight: 600;
    height: 250px;
    padding: 108px;
}

a {
    padding: 64px;
    border-bottom: 233px;
    color: #337ab7;
    text-decoration: none;
}